{% include skills.html %}
{% include projects.html %}
{% include certificates.html %}
<div class="fun-facts-container">
    <section class="section fun-facts">
        <h2>Fun Facts</h2>
        <p>- 4+ years of Linux experience has made the command line my second home.🐧</p>
        <p>- Open-source enthusiast.🌱</p>
        <p>- In my spare time, I automate everything with bash scripts... even making coffee (well, almost).🧋</p>
        <p>- The terminal: My productivity powerhouse.⚡</p>
        <p>- Obviously not a fan of front-end engineering.👨‍💻</p>
    </section>
</div>
