<title>Alham Azhar - Cybersecurity Portfolio | Cloud & Linux Expertise</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="Alham Azhar">
<meta name="description"
    content="Cybersecurity portfolio by Alham Azhar with expertise in Linux, Cloud, Networking, and DevOps. Explore projects, skills, and connect for collaborations.">
<meta name="keywords" content="Cybersecurity, Linux, Cloud, Automation, DevOps, Networking, Alham Azhar, Portfolio">
<meta name="google-site-verification" content="mQ-88YZNZJrWwQFSRc401TSthUnn6N227bh4zJwWJeQ">

<meta property="og:title" content="Alham Azhar - Cybersecurity, Linux, Networking & Cloud Expert Portfolio">
<meta property="og:description"
    content="Explore my cybersecurity, Linux, and cloud projects. Connect to collaborate on Linux, DevOps, and security innovations!">
<meta property="og:url" content="https://mr-alham.github.io/">
<meta property="og:type" content="website">
<meta property="og:image" content="https://mr-alham.github.io/assets/img/portfolio-preview.png">

<link rel="canonical" href="https://mr-alham.github.io/">
<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png"> -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Alham Azhar",
  "jobTitle": "Cybersecurity Engineer",
  "url": "https://mr-alham.github.io/",
  "sameAs": [
    "https://github.com/mr-alham",
    "https://www.linkedin.com/in/alham-azhar/",
    "https://www.x.com/alham__aa"
  ],
  "gender": "Male",
  "email": "alham@duck.com"
}
</script>

<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
