<div class="slideshow-container">
    <h2 id="projects" class=" ">Projects</h2>
    <div class="line"></div>
    <div class="mySlides project-slide fade">
        <div class="project-card">
            <a href="https://github.com/mr-alham/Google-gemini-AI-CLI-App" class="project-title" target="_blank">Google Gemini AI CLI
                App (GoLang)</a>
            <p class="project-description">Built a CLI chatbot in Go using Google’s Gemini-AI API with interactive
                text and multimodal (text+image) models. Utilized GitHub Actions for CI/CD, and integrated standard
                Linux command usage.</p>
            <div class="project-tools-badges">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Go-%23F5F9F5?style=flat&logo=go&logoSize=amg&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Git-%23F5F9F5?style=flat&logo=git&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/JSON-%23F5F9F5?style=flat&logo=json&logoColor=%23000000&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Linux-%23F5F9F5?style=flat&logo=linux&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Github%20Actions-%23F5F9F5?style=flat&logo=githubactions&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Gemini--AI_API-%23F5F9F5?style=flat&logo=googlegemini&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Glamour_Library-%23F5F9F5?style=flat&logoSize=auto&labelColor=%23cb6cce">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Generative--AI_SDK-%23F5F9F5?style=flat&logoSize=auto&labelColor=%234285F4">
            </div>
            <ul>
                <li>Integrated the Gemini API using Google's Go SDK for generative AI.</li>
                <li>Elevated terminal UX using Go's Glamour library</li>
                <li>Automated development(CI/CD) using GitHub Actions, including linting, building, and releasing
                    software.</li>
                <li>Prioritized security and maintainability by storing API keys and Gemini configurations in dedicated
                    files.</li>
                <li>Automated binary and configs installation to `/usr/local/bin` and `/usr/local/etc` with a Bash
                    script. </li>
                <li>Expanded the application's capabilities with the implementation of text-only and text+image
                    multimodal models</li>
            </ul>
            <p class="project-summary">
                This emphasizes API integration, Golang development, multimodal AI interaction, building applications,
                handling API requests, managing system configs, and using GitHub Actions for CI/CD. Also showcases
                proficiency in Linux system management, asynchronous processing, and integrating AI models with
                real-world applications</p>
            <div class="button-container">
                <a href="https://github.com/mr-alham/Google-gemini-AI-CLI-App" target="_blank" class="github-button">
                    <img loading="lazy"
                        src="https://img.shields.io/badge/Github-whitesmoke?style=for-the-badge&logo=github&logoColor=%23181717&logoSize=auto"
                        alt="GitHub Logo" class="button-icon"></a>
                <div class="popover-container" data-popover="project1">
                    <div class="popover-content">
                        <div class="popover-header">
                        </div>
                        <div class="popover-body">
                            <img loading="lazy" src="assets/img/screenshots/gemini-cli-default.png" alt="Default Image"
                                class="image-display" data-popover-image="project1">
                            <button data-popover="project1" class="close-popover close-button">✖</button>
                        </div>
                        <div class="popover-footer">
                            <button onclick="showImage('project1', 'gemini-cli-1.png')">Screenshot 1</button>
                            <button onclick="showImage('project1', 'gemini-cli-2.png')">Screenshot 2</button>
                            <button onclick="showImage('project1', 'gemini-cli-3.png')">Screenshot 3</button>
                        </div>
                    </div>
                </div>
                <button class="regular-button open-popover" data-popover="project1">
                    <img loading="lazy" src="https://img.shields.io/badge/Screenshots-whitesmoke?style=for-the-badge" alt="Button to view screenshots">
                </button>
            </div>
        </div>
    </div>
    <div class="mySlides project-slide fade">
        <div class="project-card">
            <a href="https://github.com/mr-alham/Let-s-Learn-Malay" class="project-title" target="_blank">Let's Learn
                Malay (Bash)</a>
            <p class="project-description">Wrote a Bash script to learn Malay while prepping for Malaysian studies,
                displaying three new words with meanings on each terminal launch.</p>
            <div class="project-tools-badges">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Bash-%23F5F9F5?style=flat&logo=gnubash&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/CURL-%23F5F9F5?style=flat&logo=curl&logoColor=%23073551&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Linux-%23F5F9F5?style=flat&logo=linux&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Gemini--AI_API-%23F5F9F5?style=flat&logo=googlegemini&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Jq_--_JSON%20processor-%23F5F9F5?style=flat&logoSize=auto&label=.%2Fjq&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/ANSI_--_Color_Codes-%23F5F9F5?style=flat&logoSize=auto&labelColor=%23FCC624">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/ShellCheck_--_Analysis_Tool-%23F5F9F5?style=flat&logoSize=auto&labelColor=%23FCC624">
            </div>
            <ul>
                <li>Utilized 'curl' to dynamically fetch data from 'Google's Gemini-AI API</li>
                <li>Developed in Bash, showcasing shell scripting proficiency for automating and integrating
                    language
                    learning into my Linux workflow.</li>
                <li>Handles data using 'jq' for JSON validation, ensuring robust data handling and format
                    verification.
                </li>
                <li>Automated execution on terminal launch via .zshrc integration, seamlessly presenting new
                    vocabulary
                    daily.</li>
                <li>Used 'ANSI' color codes and 'tput' for dynamic and visually appealing terminal output. For
                    better
                    UX.
                </li>
                <li>Incorporated error handling and background process management, demonstrating the ability to
                    create resilient applications.</li>
                <li>Employed 'ShellCheck' to analyze & optimize Bash scripts, improving code quality and
                    maintaining best practices.</li>
            </ul>
            <p class="project-summary">These points emphasize technical skills in automation, API integration, data
                management, and user
                interface
                design, making them particularly valuable for showcasing expertise in software development and
                system
                administration.</p>
            <div class="button-container">
                <a href="https://github.com/mr-alham/Let-s-Learn-Malay" target="_blank" class="github-button">
                    <img loading="lazy"
                        src="https://img.shields.io/badge/Github-whitesmoke?style=for-the-badge&logo=github&logoColor=%23181717&logoSize=auto"
                        alt="GitHub Logo" class="button-icon"></a>
                <div class="popover-container" data-popover="project2">
                    <div class="popover-content">
                        <div class="popover-header">
                        </div>
                        <div class="popover-body">
                            <img loading="lazy" src="assets/img/screenshots/learn-malay-default.png" alt="Default Image"
                                class="image-display" data-popover-image="project2">
                        </div>
                        <div class="popover-footer">
                            <button onclick="showImage('project2', 'learn-malay-1.png')">Screenshot 1</button>
                            <button onclick="showImage('project2', 'learn-malay-2.png')">Screenshot 2</button>
                            <button onclick="showImage('project2', 'learn-malay-3.png')">Screenshot 3</button>
                        </div>
                    </div>
                </div>
                <button class="regular-button open-popover" data-popover="project2">
                    <img loading="lazy" src="https://img.shields.io/badge/Screenshots-whitesmoke?style=for-the-badge" alt="Button to view screenshots">
                </button>
                <button data-popover="project2" class="close-popover close-button">✖</button>
            </div>
        </div>
    </div>
    <div class="mySlides project-slide fade">
        <div class="project-card">
            <a href="https://github.com/mr-alham/Movie-Watch-List-Tracker" class="project-title" target="_blank">Personalized Movie
                Watchlist Manager (Python)</a>
            <p class="project-description">Developed a web-based movie/series watchlist application featuring
                detailed tracking, sorting, and search capabilities, Using Python/Flask.</p>
            <div class="project-tools-badges">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Git-%23F5F9F5?style=flat&logo=git&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/CSS-%23F5F9F5?style=flat&logo=css3&logoColor=%231572B6&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/HTML-%23F5F9F5?style=flat&logo=html5&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/JSON-%23F5F9F5?style=flat&logo=json&logoColor=%23000000&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/python-%23F5F9F5?style=flat&logo=python&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Docker-%23F5F9F5?style=flat&logo=docker&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Gunicorn-%23F5F9F5?style=flat&logo=gunicorn&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Javascript-%23F5F9F5?style=flat&logo=javascript&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Alpine_Linux-%23F5F9F5?style=flat&logo=alpinelinux&logoColor=%230D597F&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Github%20Actions-%23F5F9F5?style=flat&logo=githubactions&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Flask_-_Framework-%23F5F9F5?style=flat&logo=flask&logoColor=%23000000&logoSize=auto&labelColor=%23fcfdfc">
            </div>
            <ul>
                <li>Engineered the web application providing users with comprehensive management, Using Flask
                    framework and Python.</li>
                <li>Minimized Attack surface and improved performance by leveraging Alpine Linux for Dockerization.
                </li>
                <li>Used Github Actions for a comprehensive CI/CD pipeline automating code linting, error checking,
                    Docker image building,
                    and pushing images to Docker Hub.</li>
                <li>Deployed a production ready, Scalable Flask application using Gunicorn as the WSGI server.</li>
                <li>Facilitated collaboration and future development with a modular code structure and detailed
                    documentation.</li>
                <li>Developed a responsive and user-friendly interface with search/sort functionality using HTML,
                    CSS, and JavaScript</li>
            </ul>
            <p class="project-summary">This demonstrates expertise in full-stack web development, secure
                containerization, and CI/CD automation, focusing
                on building scalable and efficient applications using Docker, Flask, and modern frontend
                technologies.</p>
            <div class="button-container">
                <a href="https://github.com/mr-alham/Movie-Watch-List-Tracker" target="_blank" class="github-button">
                    <img loading="lazy"
                        src="https://img.shields.io/badge/Github-whitesmoke?style=for-the-badge&logo=github&logoColor=%23181717&logoSize=auto"
                        alt="GitHub Logo" class="button-icon"></a>
                <div class="popover-container" data-popover="project3">
                    <div class="popover-content">
                        <div class="popover-header">
                        </div>
                        <div class="popover-body">
                            <img loading="lazy" src="assets/img/screenshots/movie-watch-list-default.png"
                                alt="Default Image" class="image-display" data-popover-image="project3">
                        </div>
                        <div class="popover-footer">
                            <button onclick="showImage('project3', 'movie-watch-list-1.png')">Screenshot 1</button>
                            <button onclick="showImage('project3', 'movie-watch-list-2.png')">Screenshot 2</button>
                            <button onclick="showImage('project3', 'movie-watch-list-3.png')">Screenshot 3</button>
                        </div>
                    </div>
                </div>
                <button class="regular-button open-popover" data-popover="project3">
                    <img loading="lazy" src="https://img.shields.io/badge/Screenshots-whitesmoke?style=for-the-badge" alt="Button to view screenshots">
                </button>
                <button data-popover="project3" class="close-popover close-button">✖</button>
            </div>
        </div>
    </div>
    <div class="mySlides project-slide fade">
        <div class="project-card">
            <a href="https://github.com/mr-alham/Roadmap-Security-Engineer" class="project-title" target="_blank">Roadmap - Security
                Engineer (GoLang)</a>
            <p class="project-description">Built a CLI chatbot in Go using Google’s Gemini-AI API with interactive
                text
                and
                multimodal (text+image) models.
                Utilized GitHub Actions for CI/CD, and integrated standard Linux command usage.</p>
            <div class="project-tools-badges">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Go-%23F5F9F5?style=flat&logo=go&logoSize=amg&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Git-%23F5F9F5?style=flat&logo=git&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/JSON-%23F5F9F5?style=flat&logo=json&logoColor=%23000000&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Linux-%23F5F9F5?style=flat&logo=linux&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/Github%20Actions-%23F5F9F5?style=flat&logo=githubactions&logoSize=auto&labelColor=%23fcfdfc">
                <img loading="lazy" alt="Static Badge"
                    src="https://img.shields.io/badge/ANSI_--_Color_Codes-%23F5F9F5?style=flat&logoSize=auto&labelColor=%23FCC624">
            </div>
            <ul>
                <li>Developed a Golang-powered learning guide for Cybersecurity, Linux, and Cloud, providing practical
                    experience through
                    industry-standard project exercises.</li>
                <li>Leveraged GitHub Actions to automate the entire software development lifecycle, from build to
                    release.</li>
                <li>Implemented a JSON-based schema for organizing learning content, facilitating flexible customization
                    and expansion.</li>
                <li>Provided clear and concise documentation, enabling users to quickly install, configure, and utilize
                    the application.</li>
                <li>Managed project codebase using Git, leveraging GitHub for version tracking and collaborative
                    workflows.</li>
                <li>Adhered to Linux file hierarchy standards and offers a CLI interface with options for progress
                    tracking `--done`, custom navigation `--custom`, and a comprehensive help menu `--help`.</li>
            </ul>
            <p class="project-summary">This project delivers a Golang-powered, interactive, CLI-based learning platform,
                combining security engineering and
                DevOps principles. Key skills demonstrated include secure
                development, automation (GitHub Actions), Linux system administration, CI/CD, and project management.
            </p>
            <div class="button-container">
                <a href="https://github.com/mr-alham/Roadmap-Security-Engineer" target="_blank" class="github-button">
                    <img loading="lazy" src="https://img.shields.io/badge/Github-whitesmoke?style=for-the-badge&logo=github&logoColor=%23181717&logoSize=auto
" alt="GitHub Logo" class="button-icon">
                </a>
                <div class="popover-container" data-popover="project4">
                    <div class="popover-content">
                        <div class="popover-header">
                        </div>
                        <div class="popover-body">
                            <img loading="lazy" src="assets/img/screenshots/sec-engineer-default.png"
                                alt="Default Image" class="image-display" data-popover-image="project4">
                        </div>
                        <div class="popover-footer">
                            <button onclick="showImage('project4', 'sec-engineer-1.png')">Screenshot 1</button>
                            <button onclick="showImage('project4', 'sec-engineer-2.png')">Screenshot 2</button>
                            <button onclick="showImage('project4', 'sec-engineer-3.png')">Screenshot 3</button>
                        </div>
                    </div>
                </div>
                <button class="regular-button open-popover" data-popover="project4">
                    <img loading="lazy" src="https://img.shields.io/badge/Screenshots-whitesmoke?style=for-the-badge" alt="Button to view screenshots">
                </button>
                <button data-popover="project4" class="close-popover close-button">✖</button>
            </div>
        </div>
    </div>
    <div class="mySlides project-slide fade">
        <div class="project-card">
        </div>
    </div>
    <!-- <div class="mySlides project-slide fade">
        <div class="project-card">
        </div>
    </div> -->
    <a class="prev" onclick="plusSlides(-1)" rel="nofollow">&#10094;</a>
    <a class="next" onclick="plusSlides(1)" rel="nofollow">&#10095;</a>
    <div class="project-navigation-dots" style="text-align:center">
        <span class="slide-dot" onclick="currentSlide(1)"></span>
        <span class="slide-dot" onclick="currentSlide(2)"></span>
        <span class="slide-dot" onclick="currentSlide(3)"></span>
        <span class="slide-dot" onclick="currentSlide(4)"></span>
        <span class="slide-dot" onclick="currentSlide(5)"></span>
    </div>
</div>
<script>
    let slideIndex = 0;
    const slides = document.querySelectorAll(".mySlides");
    const dots = document.querySelectorAll(".slide-dot");
    const totalSlides = slides.length;

    function showSlide(index) {
        slides.forEach((slide, i) => {
            slide.style.display = (i === index) ? "block" : "none";
        });
        dots.forEach((dot, i) => {
            dot.classList.toggle("active", i === index);
        });
    }
    showSlide(slideIndex);
    function nextSlide() {
        slideIndex = (slideIndex + 1) % totalSlides;
        showSlide(slideIndex);
    }
    function prevSlide() {
        slideIndex = (slideIndex - 1 + totalSlides) % totalSlides;
        showSlide(slideIndex);
    }
    function currentSlide(n) {
        slideIndex = n;
        showSlide(slideIndex);
    }
    document.querySelector(".next").addEventListener("click", nextSlide);
    document.querySelector(".prev").addEventListener("click", prevSlide);
    dots.forEach((dot, i) => {
        dot.addEventListener("click", () => currentSlide(i));
    });
    // popover
    document.querySelectorAll(".open-popover").forEach(button => {
        button.addEventListener("click", function () {
            const popoverId = this.getAttribute("data-popover");
            document.querySelector(`.popover-container[data-popover="${popoverId}"]`).style.display = "block";
            document.querySelector(`.close-popover[data-popover="${popoverId}"]`).style.display = "block";
        });
    });
    document.querySelectorAll(".close-popover").forEach(button => {
        button.addEventListener("click", function () {
            const popoverId = this.getAttribute("data-popover");
            document.querySelector(`.popover-container[data-popover="${popoverId}"]`).style.display = "none";
            this.style.display = "none";
        });
    });
    function showImage(popoverId, imageName) {
        document.querySelector(`img[data-popover-image="${popoverId}"]`).src = `assets/img/screenshots/${imageName}`;
    }
    document.querySelector('.prev').addEventListener('click', function () {
        plusSlides(-1);
    });
    document.querySelector('.next').addEventListener('click', function () {
        plusSlides(1);
    });
</script>
