<section class="skills-terminal">
    <h2 id="skills">Skills</h2>
    <div class="line"></div>
    <div class="terminal">
        <div class="terminal-header">
            <span class="dot red"></span>
            <span class="dot yellow"></span>
            <span class="dot green"></span>
            <span class="terminal-title">/home/alham - Skills</span>
        </div>
        <pre>
<b>cat</b> /var/log/skills
<div class="underline"></div>
<b>[ <strong>Cloud & Containerization</strong> ]</b>
<p>Deployed and managed applications in cloud environments, ensuring scalability and efficiency through containerization technologies.</p>
- <strong>AWS | GCP | Docker | Ansible</strong>


--------------------------------------------------
<b>[ <strong>CI/CD & Automation</strong> ]</b>
<p>I build and maintain CI/CD pipelines and automate routine workflows, driving seamless application deployments and system updates.</p>
- <strong> Github Actions | Github Release | Github | Cron</strong>


--------------------------------------------------
<b>[ <strong>API Integration & SDK</strong> ]</b>
<p>Created RESTful APIs using frameworks, Connected APIs to applications and I implemented publicly available APIs to my projects.</p>
- <strong> Python Flask | RESTful API | CURL</strong>


--------------------------------------------------
<b>[ <strong>Programming & Scripting</strong> ]</b>
<p>Developed applications and automation scripts to solve daily operational challenges, ensuring efficiency and reliability in various environments.</p>
- <strong> Golang | Python | Bash Scripting | Javascript | JSON | YAML</strong>


--------------------------------------------------
<b>[ <strong>Security & Cryptography</strong> ]</b>
<p>I apply cryptographic techniques to protect sensitive data, leveraging my knowledge of security best practices in real-world scenarios.</p>
- <strong> AES | RSA | OpenSSl | GPG | Hashing</strong>


--------------------------------------------------
<b>[ <strong>Database Management</strong> ]</b>
<p>I use and manage relational databases, ensuring high availability and performance</p>
- <strong> MySQL | MariaDB</strong>


--------------------------------------------------
<b>[ <strong>Version Control & Collaboration</strong> ]</b>
<p>I collaborate using Git and GitHub, managing version control efficiently for both individual and team-based projects.</p>
- <strong> Git | Github</strong>


--------------------------------------------------
<b>[ <strong>Operating Systems</strong> ]</b>
<p>I handle Linux system administration and RBAC configurations, ensuring stable and secure operating environments. Have 4+ years of experience using Linux.</p>
- <strong> Linux (Rhel/Manjaro/Debian) | Linux Administration | Windows</strong>


--------------------------------------------------
<b>[ <strong>Computer Networking</strong> ]</b>
<p>I troubleshoot and configure network services like DNS and firewalls, and I'm skilled in routing, switching, and traffic analysis.</p>
- <strong> Wireshark | Unbound |DNSMASQ | DNS | IPtables | Networking Models(TCP/IP) | Routing | Switching</strong>


<div class="in">
<b style="color: aliceblue;font-weight: normal">--------------------------------------------------</b>
<b>[ <strong>Important</strong> ]</b>

I have demonstrated above mentioned skills in below listed projects<strong>!</strong>
</div>
        </pre>
    </div>
</section>
